*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 40%;
    margin: 0 auto;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border-radius: 12px 12px 0 0;
}

.header .icon{
    font-size: 2em;
    color: #fff;
}

.header h1{
    margin-left: 2%;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.content{
    width: 100%;
    background-color: #fff;
    color: #aaa;
    border: 1px solid #ccc;
}

.form{
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form a{
    width: 100%;
    padding: 2%;
    background-color: forestgreen;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    transition: all .5s;
}

.form h1{
    font-size: 6em;
    font-weight: 400;
}

.form a:hover{
    background-color: limegreen;    
}
.form a:active{
    background-color: chartreuse;
}

.form input[type=text]{
    padding: 2%;
    margin: 1% 2% 1% 2%;
    width: 50%;
    font-size: 1.5em;
    color: #aaa;
    border: 2px solid #aaa;
}

.form input[type=text]:focus {
    outline: none !important;
    border:1px solid limegreen;
    box-shadow: 0 0 2px limegreen;
}